* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  background: #333;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}
nav a:hover {
  background: #555;
}
a.tw {
  background: url(img/tw.png) no-repeat center;
  background-size: 80%;
}
a.fb {
  background: url(img/fb.png) no-repeat center;
  background-size: 80%;
}
/* how to get rid of text */
.social a {
  text-indent: -100000px;
}
/* handiling the flex for the social  */
nav ul.social {
  flex: 1 1 0;

  display: flex;
}
/* this will make our items expand to the available space */
nav ul.social li {
  flex: 1 1 0;
}
/* here we git the social a max width so it can stay in the right and in the lane */
.social {
  max-width: 80px;
  margin: 0 auto;
}
/* grid vs flex base styles */
#blocks {
  margin: 20px;
}
article {
  background: #fff;
  margin-bottom: 20px;
  padding: 10px;
  /* this will incorperate the padding to the overall width */
  box-sizing: border-box;
}
article h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav ul li {
    /*  this is growing all the items to all the available space */
    flex: 1 1 0;
  }

  nav {
    display: flex;
    /* this will have seperation between the two lists in the nav */
    justify-content: space-between;
  }
  .social {
    /* taking away the margin so the icons can go to the right on larger screens */
    margin: 0;
  }
  /* we are setting the styles of the articles to make it a grid */
  #blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article {
    flex: 0 1 32%;
  }
  /* this will change the layout from stack to grid when the function gets called */
  article.stack {
    flex: 0 1 100%;
  }
}
