* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap; /*theis will set the green to the bottom as the window shrinks*/
  /* flex-wrap: wrap-reverse; this will set the green to the top */
}
/* the default is the set it to no wrap, and it can make your websites more responsive */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.box {
  height: 100px;
  min-width: 300px;
  flex-grow: 1;
}

.one {
  background: red;
}
.two {
  background: blue;
}
.three {
  background: green;
}
