* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}
/* will set items side to side rather than in a block display */
.flex-container {
  display: flex;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.box {
  height: 100px;
  width: 320px;
}
/* all of the boxes are even, but the higher the shrink rate, the smaller it will get */
.one {
  background: red;
  flex-shrink: 1;
}
.two {
  background: blue;
  flex-shrink: 2;
}
.three {
  background: green;
  flex-shrink: 3;
}
